footer{
  height: 400px;
  .container{

  .footer-top{
    height: 300px;
    background-color: $fourth_color;
    .footer-list{
      display:inline-block;
      width: 23%;
      h3{
        color: $fifth_color;
        font-size: 15px;
      }
      ul{
        display: inline-block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          padding: $space $space;
          font-size: $size;
          a{
            color: $first_color;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }



      }
    }
    .social{
      height: 25px;
      width: 40%;
      float: right;
      ul{
        float: right;
        list-style-type: none;
          padding: 0;
          margin: 0;
          li{
            display: inline-block;
            padding: $space;
            a{
              img{
                width: 30px;
                height: 30px;
              }
            }
          }
      }
    }

  }
  .footer-bottom{
    height: 100px;
    width: 100%;
    background-color: #1e1e1e;
    ul{
      float: right;
      list-style-type: none;
      li{
        display: inline-block;
        padding: $space;
        a{
          text-decoration: none;
          color: $first_color : #999;
          &:hover{
            color: $second_color;
            text-decoration: underline;
          }
        }
      }
    }
    p{
      float:right;
      color: $second_color;
    }
  }
}
}
