@import 'partials/_variable';
@import 'partials/_footer';
@import 'partials/_header';
@import 'partials/_content';





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  width: 100%;
}
